<%= form_for(@item_category) do |f| %>
  <% if @item_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_category.errors.count, "error") %> prohibited this item_category from being saved:</h2>

      <ul>
      <% @item_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :thumnail_pic %><br />
    <%= f.file_field :thumnail_pic %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
