<div id="admin_wrapper">
<%= render :partial => "/admins/admin_menu" %>

<h1>상품 카테고리</h1>

<table id="admin_item_category_table" class="admin_table">
  <tr>
    <th>순서</th>
    <th>카테고리 이름</th>
    <th>수정하기</th>
    <th>삭제하기</th>
  </tr>

<% @item_categories.each do |item_category| %>
  <tr>
    <td><%= item_category.order %></td>
    <td><%= link_to item_category.name, item_category %></td>
    <td><%= link_to '수정', edit_item_category_path(item_category) %></td>
    <td><%= link_to '삭제', item_category, confirm: '삭제하시겠습니까?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '새 상품 카테고리 만들기', new_item_category_path %>
</div>
