<h1>관리자 페이지</h1>

<table>
  <tr>
    <!--    <td><%= talk.content %></td>  -->
    <td><%= link_to '주문정보 보기, order %></td> 
    <td><%= link_to '글 관리', category %></td> 
    <td><%= link_to '상품 관리', product %></td>
    <td><%= link_to '토크 관리', talk %></td>
    <!--    <td><%= link_to 'Show', talk %></td> -->
    <!--    <td><%= link_to 'Edit', edit_talk_path(talk) %></td> -->
  </tr>
  
</table>

<br />
