<% session[:back_url] = request.url %>
<!-- controller 에서 one_article = 1 파라미터가 있으면 @post를, 없으면 @posts를 반환한다 -->

<div id="article_wrapper">
<% if !@post.nil? %>
<div id="article_body">
<div class="content_title">
  <%= @post.title %>
</div>
<div class="article_content">
<%= @post.body_txt.html_safe %>
</div>
</div>
<% elsif !@posts.nil? %>

<%= render  'article_list' %>

  <% if @posts.count > 0 %>
    <% @posts.each_with_index do |post, index| %>
    <div id="article_body">
<!--
      <div class="fb-like-example"></div> 
<script type="text/javascript">
  $(function(){
  $('.fb-like-example').onefblike({appID:'213249652066160', siteUrl:'/articles/#/articles/<%= post.id %>', siteTitle:'<%= post.title %>'});
});
</script>
-->
    <div class="content_title">
      <%= post.title %>
    </div>
    <div class="article_content">
      <%= post.body_txt.html_safe %>
    </div>



<div class="social_buttons">
  <span  class='st_twitter_hcount' displayText='Tweet' st_url="http://www.chakkomi.com/articles/<%= post.id %>/#/articles/<%= post.id %>"></span><span  class='st_facebook_hcount' displayText='Facebook' st_url="http://www.chakkomi.com/articles/<%= post.id %>/#/articles/<%= post.id %>"></span><!--<span  class='st_fblike_hcount_<%= index %>'>
</span>--><span  class='st_plusone_hcount' st_url="http://www.chakkomi.com/articles/<%= post.id %>/#/articles/<%= post.id %>"></span><span class="fb-like-example_<%= index %>"></span>
</div>

<script type="text/javascript">

  $(function(){
var switchTo5x=false;

  $.getScript("http://w.sharethis.com/button/buttons.js");
   $('.fb-like-example_<%= index %>').onefblike({appID:'213249652066160', siteUrl:'/articles/<%= post.id %>/#/articles/<%= post.id %>', layout:'button_count'});  
});
</script>

    <% end %>
    </div>
    <div class="pagination_wrapper">
    <div class="flickr_pagination">
      <%= will_paginate @posts, :container => false %>
    </div>
    </div>

  <% end %>
<% end %>
</div>
