<div class="content_title">
  <%= @post.title %>

</div>

<div class="article_content">
<%= @post.body_txt.html_safe %>
</div>
<div class="social_buttons">
<span  class='st_twitter_hcount' displayText='Tweet' st_url="http://www.chakkomi.com/articles/<%= @post.id %>/#/articles/<%= @post.id %>"></span><span  class='st_facebook_hcount' displayText='Facebook' st_url="http://www.chakkomi.com/articles/<%= @post.id %>/#/articles/<%= @post.id %>"></span></span><!--<span  class='st_fblike_hcount'>--></span><span  class='st_plusone_hcount' st_url="http://www.chakkomi.com/articles/<%= @post.id %>/#/articles/<%= @post.id %>"></span> <span class="fb-like-example">
</div>
<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">
  $(function(){

//  stLight.options({publisher:'946d14c5-62b3-4999-bb63-eb17baf5da56'});

   $('.fb-like-example').onefblike({appID:'213249652066160', siteUrl:'/articles/<%= @post.id %>/#/articles/<%= @post.id %>', layout:'button_count'});  

});</script>
