<% session[:back_url] = '/articles/#/talks/' + @talk.id.to_s + '?mid=' + @mid  %>
<div id="relay_wrapper">
<p id="notice"><%= notice %></p>
<% if @talk.secret == 1 %>
<div class="relay_secret">쉿! 이 토크는 비밀입니다.</div>
<% end %>

<% if @talk.secret != 1 || user_signed_in? && (current_user.role == "admin"  || current_user.id == @talk.user_id ) %>
<div id="relay_form">
<% if user_signed_in? %>
  <% if current_user.name == nil or current_user.name == '' %>
    <%= link_to "프로필", edit_user_registration_path %> 에서 이름을 적어주세요.
  <% else %>
    <%= current_user.name %>
    <%= form_for [@talk, current_user.relays.new], :remote => true do |f| %>
    <%= f.text_area :content, :class => "relay_textarea", :title => "착곰이에게 하고 싶은 말을 남겨주세요 ^-^", :cols => 20, :rows => 4 %>
    <%= f.submit %>
    <% end %>
  <% end %>
  <% else %>
  <b><%= link_to '로그인', new_user_session_path, :remote => true, :class => "relay_links", :rel => "/users/sign_in"   %></b>하셔야 글을 작성할 수 있습니다.


<% end %>
</div>
<%= render 'relay_relay' %>
</div>

<% end %>
