<p id="notice"><%= notice %></p>
<div id="talk_form">
<% if user_signed_in? %>
  <% if current_user.name == nil or current_user.name == '' %>
    <%= link_to "프로필", edit_user_registration_path, :class => "profile" %> 에서 이름을 적으셔야 글을 작성할 수 있습니다.
  <% else %>
    <% if @talk.nil? %>
      <% @talk = Talk.new  %>
    <% end %>
      <%= form_for(@talk, :remote => true, :html => {:class => 'talk_form'} ) do |f| %>
        <%= f.text_field :content, :class => "defaultText", :title => "착곰이에게 하고 싶은 말을 남겨주세요 ^-^" %>
	</input>
	<%= current_user.name %>
        <%= f.check_box :secret %>
        <%= f.label :secret %>
	<%= f.hidden_field :mid, :value =>@mid %>
	</input>

      <% end %>
   <% end %>
<% else %>
     <%= link_to '로그인', new_user_session_path, :remote => true, :class => "ajax_link"  %>하셔야 글을 작성할 수 있습니다.</td>
<% end %>
</div>

<%= render 'talk_talk' %>



