
<p id="notice"><%= notice %></p>


<% if user_signed_in? %>
  <% if current_user.name == nil or current_user.name == '' %>
    <%= link_to "프로필", edit_user_registration_path, :class => "profile" %> 에서 이름을 적으셔야 글을 작성할 수 있습니다.
  <% else %>
    <% if @talk.nil? %>
      <% @talk = Talk.new  %>
    <% end %>
    
    <%= current_user.name %>

      <%= form_for(@talk, :remote => true, :html => {:class => 'talk_form'} ) do |f| %>
        <%= f.text_field :content, :class => "defaultText", :title => "착곰이에게 하고 싶은 말을 남겨주세요 ^-^" %>
        <%= f.check_box :secret %>
        <%= f.label :secret %>
      <% end %>
   <% end %>
<% else %>
     <%= link_to '로그인', new_user_session_path, :remote => true, :class => "ajax_link"  %>하셔야 글을 작성할 수 있습니다.</td>
<% end %>


<%= render 'talk_talk' %>



