<% session[:back_url] = '/store/#/orders/new' %>
<% if notice %>
<p id="notice" ><%= notice %></p>
<% flash[:notice] = nil %>
<% end %>

<div id="laydesk_shop_cart">
  <div id="box_out">
    <div id="box_in">
      <ul id="cart_status_ul">
	<li class="other_cart">
	  <div class="number">1</div>
	  <div class="name"><span>장바구니</span></div>
	</li>
	<li>
	  <div class="arrow">>></div>
	</li>
	<li  class="current_cart">
	  <div class="number">2</div>
	  <div class="name">주문결제</div>
	</li>
	<li>
	  <div class="arrow">>></div>
	</li>
	<li class="other_cart">
	  <div class="number">3</div>
	  <div class="name">주문완료</div>
	</li>
      </ul>
    </div><!-- box_in -->
  </div><!-- box_out -->

<div id="order_wrapper">

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div id="order_list">
    <div class="div_titles"><span class="order_titles">1.주문리스트 확인</span><br /></div>
    <div class="line_item">
      <table class="order_table">
	<tr id="table_menu">
	  <td class="cart_thumb">상품</td>
	  <td class="cart_name">상품명(옵션)</td>
	  <td class="cart_price">판매가</td>
	  <td class="cart_count">수량</td>
	  <td class="cart_total_price">주문금액</td>
	  <td>&nbsp;</td>
	</tr>
	<%= render(@cart.line_items) %>
      </table>
    </div>
    <div id="ps">
      <div id="ps_left">선택상품을 <%= link_to "삭제하기", "#" %></div>
      <div id="ps_right">- 상품배송비는 상품 총금액 20,000원 이상 구매시 무료배송입니다.</div>
    </div>
  </div>
  <div id="cart_total_line">
    <table>
      <tr>
	<th ROWSPAN=3 class="cart_total_line_title">총 주문금액</th>
	<% @total_price = @cart.total_price %>
	<td class="cart_total_cell" ><span id="cart_total_info"><span class="info_name">주문상품수 </span><span class="info_value"><%= @cart.line_items.count %>종(<%=@cart.total_items%>개)</span><span class="info_name">총배송비 </span><span class="info_value"><% if @total_price > 20000 %>0원<% else %> 2,500원<% end %></span><span class="info_name">상품총금액  </span><span class="info_value"><%= number_with_delimiter(@total_price) %></span></span></td>
      </tr>
      <tr>
	<td><hr /></td>
      </tr>
      <tr>
	<td>총 합계금액 <% if @total_price > 20000 %><%= number_with_delimiter(@total_price) %>원<% else %><%= number_with_delimiter(@total_price + 2500) %>원<% end %></td>
      </tr>
    </table>
  </div>
</div>

<div id="client_info">
  <div class="div_titles"><span class="order_titles">2. 주문고객정보</span><br /></div>

<table class="order_table">
<tr>
<td class="section_name">
  주문자명
</td>
<td>
    <%= text_field_tag :name, current_user.name  %>
</td>
<td class="section_name">
  이메일
</td>
<td>
    <%= f.email_field :email, :size => 40 %>
</td>
</tr>
<tr>
<td class="section_name">
  휴대폰번호
</td>
<td>
    <%= f.text_field :phone %>  
</td>
<td class="section_name">
  전화번호
</td>
<td>
      <%= f.text_field :phone %>  
</td>
</tr>
<tr>
<td class="section_name">
주소
</td>
<td>
  우편번호 검색<br />
  <input id="dong_name" type="search"/>
  <input type="button" class="zipcode-search button write small" value="우편번호 검색"/>  
  <div class="zipcode_search_result">

  </div>
    <%= f.label :address %><br />
    <%= text_field_tag :address1 ,current_user.delivery_address1, :size => 50 %><br />
  상세 주소 입력<br />
     <%= text_field_tag :address2, current_user.delivery_address2 %>
</td>
</tr>
</table>
</div>

<div id="location_info">
  <div class="div_titles"><span class="order_titles">3. 배송지 정보</span><br /></div>
  <table class="order_table">
    <tr>
      <td class="section_name">
	수령인명
      </td>
      <td>
	<%= f.text_field :phone %>  
      </td>
    </tr>
    <tr>
      <td class="section_name">
	휴대폰번호
      </td>
      <td>
	<%= f.text_field :phone %>  
      </td>
      <td class="section_name">
	전화번호
      </td>
      <td>
	<%= f.text_field :phone %>  
      </td>
    </tr>
    <tr>
      <td class="section_name">
	주소
      </td>
      <td>
	우편번호 검색<br />
	<input id="dong_name" type="search"/>
	<input type="button" class="zipcode-search button write small" value="우편번호 검색"/>  
	<div class="zipcode_search_result">
	  
	</div>
	<%= f.label :address %><br />
	<%= text_field_tag :address1 ,current_user.delivery_address1, :size => 50 %><br />
	상세 주소 입력<br />
	<%= text_field_tag :address2, current_user.delivery_address2 %>
      </td>
    </tr>
    <tr>
      <td class="section_name">
	배송 유의사항
      </td>
      <td>
	<%= f.text_field :phone %> &nbsp;ex) 부재시 경비실에 맡겨주세요.
      </td>
    </tr>
  </table>
</div>

<div id="price_info">
  <div class="div_titles"><span class="order_titles">4. 결제금액</span><br /></div>
  <table class="order_table">
    <tr>
      <td>
	총 주문금액
      </td>
      <td>
	<span id="total_price"><%= number_with_delimiter(@cart.total_price) %></span>원
      </td>
    </tr>
    <tr>
      <td>
	배송료
      </td>
      <td>
	<span id="total_price"><%= number_with_delimiter(@cart.total_price) %></span>원
      </td>
    </tr>
    <tr>
      <td>
	총 결제액
      </td>
      <td>
	<span id="total_price"><%= number_with_delimiter(@cart.total_price) %></span>원
      </td>
    </tr>
  </table>
</div>
<div id="checkout_info">
  <div class="div_titles"><span class="order_titles">5. 결제수단</span><br /></div>
  <table class="order_table">
    <tr>
      <td class="section_name">
	신용카드
      </td>
    </tr>
  </table>
</div>


  <div class="field">
    <%= f.label "예금주" %><br />
    <%= text_field_tag :account_owner, current_user.name %>
  </div>

  <div class="field">
    <%= f.label :pay_type %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => '지불 형태를 고르세요' %>
  </div>
  <div class="field">
    <%= f.label :arrival_payment %><br />
    <%= f.select :arrival_payment, Order::ARRIVAL_PAYMENT, :prompt => '선불? 착불?'  %>
  </div>
  <div id="total_price">
    <%= hidden_field_tag :total_price ,@cart.total_price %>
  </div>
  <div class="actions">
    
    <%= f.submit '주문하기'%>
  </div>
<% end %>
</div>
</div>
