$(function(){
	$('#laydesk_shop_body').fadeOut('slow', function(){
		$('#laydesk_shop_body').html('<%= escape_javascript(render('form')) %>').fadeIn('slow');
		
		$("#back_page").click(function(){
		    history.go(-1);
		});

		$(".ajax_link").click(function(e) {
			var href = $(this).attr('href');
			$.address.value(href);
			return false;
		    });
		
	var xml_addressdata = ''
	var html_render = ''
	var current_end = 0

	$('#order_arrival_payment').change(function() {
		if($("#order_arrival_payment").val() == '선불')
		{
		    $('#total_price').html('<span id=span_total_price>총액:  <%= number_with_delimiter(@cart.total_price + Order::DELIVERY_COST) %> 원</span><%= hidden_field_tag :total_price, @cart.total_price + Order::DELIVERY_COST %>' );
		}else
		{
		    $('#total_price').html('<span id=span_total_price>총액:  <%= number_with_delimiter(@cart.total_price) %> 원</span><%= hidden_field_tag :total_price, @cart.total_price %>' );
		}
	    });
	var address = {
	back_page: function(){
		address.present_posts(xml_addressdata, current_end - 20, current_end - 10);
		current_end -= 10;
	    },
	next_page: function(){
		address.present_posts(xml_addressdata, current_end, current_end + 10);
		current_end += 10;
	    },
	present_posts: function(addressdata, start, end) {
		var present_addressdata = ''
		var current_item = ''
		if(start < 0)
		{
		    start = 0;
		    end = 10;
		}
		for( i = start; i < end; i++)
		{
		    current_item =  $(addressdata).find("item").eq(i);
		    if( current_item.length == 0)
		    {
			end = -1;
			break;
		    }
		    present_addressdata = present_addressdata +
 							 '<a href=# class=postaddress_link><span class=parsed_address>(' + 
							 $(current_item).find("postcd").text().substr(0,3)  + 
							 '-' + 
							 $(current_item).find("postcd").text().substr(3,5) + 
							 ')' + 
							 $(current_item).find("address").text() + 
							 '</span></a><br />'
		}
		if(start != 0)
		{
		    present_addressdata = present_addressdata + '<a href=# class=back_page>이전'
		}
		if(end != -1)
		{
		    if($(addressdata).find("item").eq(end + 1).length > 0)
		    {
			present_addressdata = present_addressdata + '<a href=# class=next_page>다음'
		    }
		}
		$('.zipcode_search_result').html(present_addressdata);
		address.bindPutAddress();
	    },
	do_submit: function(){
		xml_addressdata = ''
		html_render = ''
		current_end = 0

		$('.zipcode_search_result').text("로딩중");
		$.get('<%= url_for :action => 'zipsearch' %>', {
		    query: $('#dong_name').val() 
			    }, function(xml){
			
			                        xml_addressdata = xml;
                         			address.next_page();
			    }, 'xml');
	    },
	bindZipcodeFind: function(){
		$('#dong_name').keydown(address.keypressed);
		$('.zipcode-search').click(address.do_submit);
	    },
	submit_search: function( event ){
		var values = new Array;
		event.preventDefault;
		values[0] = $('#dong_name').attr('value');
		if (values[0]) {
		    address.do_submit('#address1',values);
		} else {
		    alert ('No Item given');
		}
		return false;
	    },
	keypressed: function(){
		var charcode = (event.which) ? event.which : window.event.keyCode ;
		if ( charcode == 13 ) {
		    return address.submit_search( event );
		}
		return true;
	    },
	bindPutAddress: function(){
		$('.next_page').click(function(){
			address.next_page();
		    });
		$('.back_page').click(function(){
			address.back_page();
		    });
		$('.zipcode_search_result .postaddress_link').click(function(){
			$('#address1').val($(this).children('.parsed_address').text());
			address.hideZipcodeFinder();
			$('[name=addr]').focus();
			return false;
		    });
	    },
	remove_useless_addr: function(address){
		if(address.indexOf('~') != -1){
		    address = address.split(' ').slice(0, -1).join(' ');
		}
		return address;
	    },
	hideZipcodeFinder: function(){
		$('.zipcode_search_result').slideUp();
	    }
	}
	address.bindZipcodeFind();



	    });
    });

