<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @post.category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body pic:</b>
  <%= @post.body_pic %>
</p>

<p>
  <b>Body txt:</b>
  <%= @post.body_txt %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
