<%= form_for(@product_option) do |f| %>
  <% if @product_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_option.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @product_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :option %><br />
    <%= f.text_field :option %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <%= f.hidden_field :product_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
