<div id="admin_wrapper">
<%= render :partial => "/admins/admin_menu" %>

<br />
  <%= @category.name  %> : <%= @category.detail %>

<br />
<table id="admin_post_table" class="admin_table">
  <tr>
    <th>포스트 제목</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= link_to '편집', edit_post_path(post) %></td>
    <td><%= button_to '삭제', post, :confirm => '삭제하시겠습니까?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '새 글 작성', url_for(:controller=>'posts', :action=>'new', :id => @category.id)  %>

</div>
