<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :thumnail_pic %><br />
    <%= f.file_field :thumnail_pic %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :delivery_state %><br />
    <%= f.select :delivery_state, Order::DELIVERY_TYPES, :prompt => '가능한 배송 형태를 고르세요' %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, Product::STATE, :prompt => '현재 판매 여부' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
