<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="field">
    <%= f.label "상품명(주문시 여기에 적은 이름으로 등록됩니다.)" %><br />
    <%= f.text_field :title %>
  </div>
<br /><br />
  <div class="field">
    <%= f.label "상품 리스트 썸네일 이미지. 150x100으로 리사이즈됩니다." %><br />
    <%= f.file_field :thumnail_pic %>
  </div>
<br /><br />
  <div class="field">
    <%= f.label "상품 디테일 이미지. 310x310으로 리사이즈됩니다." %><br />
    <%= f.file_field :detail_pic %>
  </div>
<br /><br />
  <div class="field">
    <%= f.label "본문 등록. 상품 디테일 부분에 그대로 나오니 이쁘게 입력해주세요 ^-^" %><br />
    <%= f.cktext_area :content, :cols => 150, :rows => 150, :height => 800   %>
  </div>
  <div class="field">
    <%= f.label "가격" %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label "재고량" %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label "복구재고량(0으로 설정하면 위의 재고량이 복원되지 않고 숫자를 설정하면 매일 새벽 6시에 이 값으로 복구됩니다. )" %><br />
    <%= f.number_field :default_stock %>
  </div>
  <div class="field">
    <%= f.label "판매상태" %><br />
    <%= f.select :state, Product::STATE, :prompt => '현재 판매 여부' %>
  </div>
  <div class="field">
    <% if @product.id.nil? %>
      옵션 선택(선택된 옵션들은 상품 디테일에서  메뉴에 모두 보여집니다. 기본옵션 추가는 개발자한테 직접 말하셔야되구요, 이 상품에 대해서만 옵션을 추가하려면 상품 등록 후 상품이름을 클릭하면 추가할 수 있습니다^^)<br />
      <% Product::DEFAULT_OPTION.each_with_index do |option, index| %>
      <%= check_box_tag "product_option[" + index.to_s + "]", option %><%= option %><br />
    <% end %>
    <% else %>
    옵션 변경은 '수정하기' 에선 불가능합니다. 상품 목록에서 이름을 클릭 후 수정해주세요.
    <% end %>
    


  </div>


  <%= f.hidden_field :item_category_id %>
<br />
  <div class="actions">
    <%= f.submit "상품 등록(변경)하기" %>
  </div>
<% end %>
