<div id="admin_wrapper">
<%= render :partial => "/admins/admin_menu" %>


<p id="notice"><%= notice %></p>
"<%= @product.item_category.name %>" 카테고리의  "<%= @product.title %>" 상품입니다.
<br />
이미지<br /><%= image_tag(@product.thumnail_pic.url(:thumb)) %>
<br />
가격 : <%= number_with_delimiter(@product.price) %>
<br />
하루재고량 : <%= @product.default_stock %> 
<br />
판매현황 :   <%= @product.state %>
<br />
옵션목록 :
<table id="admin_options_table" class="admin_table">
<% @product_options.each do |product_option| %>

  <tr>
    <td><%= link_to product_option.option, product_option %></td>
    <td><%= link_to '편집', edit_product_option_path(product_option) %></td>
    <td><%= button_to '삭제', product_option, :confirm => '삭제하시겠습니까?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to '옵션 생성하기',  url_for(:controller=>'product_options', :action=>'new', :id => @product.id ) %>

<hr >
<br />
본문
<br />
  <%= @product.content.html_safe %>
<br />



<%= link_to '수정하기', edit_product_path(@product) %> <br />
<%= link_to '아이템 목록으로 돌아가기', {:controller=>"item_categories", :action => 'show', :id => @product.item_category.id }%> <br />
<%= link_to '아이템 카테고리 목록으로 돌아가기', item_categories_path %>
</div>
