<tr>
    <% if controller.controller_name  == 'carts' || controller.controller_name  == 'line_items' %>
    <td>
    <%= check_box_tag 'check_one[]', line_item.id, false, :class => 'check_one' %>
    </td>
    <% end %>
<td>
  <%= image_tag line_item.product.thumnail_pic.url(:thumb), :class => "thumnail_pic" %>
</td>
<td>
<%= line_item.product.title %>
<% if line_item.option %>
(<%= line_item.option %>)
<% end %>
</td>
  <td><%= number_with_delimiter(line_item.product.price) %>원</td>
  <td><%= line_item.quantity %></td>
  <td><%= number_with_delimiter(line_item.total_price) %>원</td>
    <% if controller.controller_name  == 'carts' || controller.controller_name  == 'line_items' %>
<td>
  <%= link_to '빼기', {:controller => '/line_items',:action => 'reduce_one', :id => line_item.id }, :remote => true  %> 
</td>
<% end %>
</tr>
