<tr>
    <% if controller.controller_name  == 'carts' %>
    <td>
    <%= check_box_tag '1' %>
    </td>
    <% end %>
<td>
  <%= image_tag line_item.product.thumnail_pic.url(:thumb), :class => "thumnail_pic" %>
</td>
<td>
<%= line_item.product.title %>
<% if line_item.option %>
(<%= line_item.option %>)
<% end %>
</td>
  <td><%= number_with_delimiter(line_item.product.price) %>원</td>
  <td><%= line_item.quantity %></td>
  <td><%= number_with_delimiter(line_item.total_price) %>원</td>
<td>
  <%= button_to '삭제하기', line_item_path(line_item), :id => line_item.id ,:method=>:delete, :remote => true  %> 
</td>



  <!--  <td><%= link_to '빼기', line_item_path(line_item),:method=>:delete, :remote => true  %></td> -->

</tr>
