<% session[:back_url] = '/store/#/store/' + @item_category.id.to_s + '?product_id=' + @product.id.to_s %>
<div id="product_detail">
  <div id="spec">
    <div id="product_detail_thumnail">
      <%= image_tag @product.detail_pic(:detail), :class => "product_detail_thumnail_pic" %><br />
      &nbsp;      &nbsp;      &nbsp;      &nbsp;      &nbsp;
      <span class='st_facebook_large'></span>
      <span class='st_twitter_large'></span>
      <span class='st_gbuzz_large'></span>
      <span class='st_email_large'></span>
      <span class='st_sharethis_large'></span>
    </div>

    <div id="product_detail_spec">
      <table>
	<tr>
	  <td class="spec_left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 상&nbsp;&nbsp;품&nbsp;명</td>
	  <td class="spec_center">:</td>
	  <td class="spec_right"><span id="product_title"><%= @product.title %></span></td>
	</tr>
	<tr>
	  <td class="spec_left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;격</td>
	  <td class="spec_center">:</td>
	  <td class="spec_right"><span id="product_price"><%= number_with_delimiter(@product.price) %> 원</span></td>
	</tr>
	<tr>
	  <td class="spec_left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 판매상태</td>
	  <td class="spec_center">:</td>
	  <td class="spec_right"><%= @product.state %></td>
	</tr>
	<%= form_for(@line_item, :remote => true) do |f| %>
	<% if @product.product_options.count > 0 %>
	<tr>
	  <td class="spec_left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 옵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;션</td>
	  <td class="spec_center">:</td>	  
	  <td class="spec_right"><%= select_tag 'option', options_from_collection_for_select(@product.product_options, "option", "option") %></td>
	</tr>
	<% end %>
	<tr>
	  <td class="spec_left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 수&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;량</td>
	  <td class="spec_center">:</td>
	  <td class="spec_right"><%= number_field_tag :quantity, 1, :in => 1...@product.stock, :style => 'width:40px;' %> 개(최대 <%= @product.stock %>개)</td>
	</tr>

      </table>

	  <%= hidden_field_tag :product_id ,@product.id %>
<!--	  <%= f.submit "장바구니 담기" ,:class=> 'noscript' %> -->
	  <div id="submit_cart" class="div_button" >장바구니 담기</div>
	<% end %>
    </div>
    <div id="fb-like-example"></div>
  </div>
  <div id="product_detail_content">
    <%= @product.content.html_safe %>
  </div>
  
</div>

<script type="text/javascript">
  $(function(){
  $('#fb-like-example').onefblike({appID:'213249652066160', siteUrl:'/store/<%= @item_category.id %>?product_id=<%= @product.id %>/#/store/<%= @item_category.id %>?product_id=<%= @product.id %>'});
});
</script>
