<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<div id="cart">
<% if @cart %>
<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
  <%= render @cart %>
  <% end %>
<% end %>

</div>


<% @products.each do |product| %>
  <div class="entry" >
    <h3><%= product.title %></h3>
    <%= image_tag(product.thumnail_pic.url)%>
    <%= sanitize(product.content) %>
    <div class="price_line" >
      <span class="price" ><%= number_with_delimiter(product.price) %></span>
      <%= button_to '장바구니', line_items_path(:product_id => product), :remote => true %>
    </div>
  </div>
<% end %>

