<!DOCTYPE html>
<html>
<head>
  <title>타이틀</title>
  <%= stylesheet_link_tag "chakkomi", :media => "all" %>
  <%= stylesheet_link_tag "reset-min", :media => "all" %>
  <%= stylesheet_link_tag "fonts-min", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="layres">
    <div class="layreshdr">
      <div class="layresuser">
	<ul>
	  <% if user_signed_in? %>
	  <li><span id="currentuser"><%= current_user.email %></span></li>
	  <li><%= link_to "Profile", edit_user_registration_path %></li>
	  <li><%= link_to "Setting", "/services" %></li>
	  <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
	  <% else %>
	  <li><%= link_to "Create Account", new_user_registration_path %></li>
	  <li><%= link_to "Login", new_user_session_path %></li>
	  <% end %>
	</ul>
      </div>
      <div class="layrestitle">
	<%= image_tag "/images/chakkomi_title.png" %>
      </div>
    </div>

  <section id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>
  <div class="layresmaj">

    <div class="layresside">

      <div class="layressidemenu" class="box">
	<h5>id=layressidemenu</h5>
	<ul>
	  <li><%= link_to "소개", "/intro" %></li>
	  <li><%= link_to "아트물", "/artmull" %></li>
	  <li><%= link_to "착곰이샵", "/store" %></li>
	  <li><%= link_to "착곰이톡", :talks %></li>
	</ul>
      </div>
      <div class="layressidelinks" class="box">
	<h5>Links</h5>
	<ul>
	  <li><%= link_to "blog", "http://blog.chakkomi.com" %></li>
	  <li><%= link_to "artmull", "http://artmull.tistory.com" %></li>
	</ul>
      </div>
    </div>    

    
    <div class="layrespri">
      <%= yield %>
    </div>
    
  </div>

  <footer class="layresftr1">
    <hr />
    <h6>Copyright</h6>
  </footer>

  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
</body>
</html>
