<!DOCTYPE html>
<html>
<head>
  <title>타이틀</title>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header id="page_header">
    <div id="user">
      <ul>
	<% if user_signed_in? %>
	<li><span id="currentuser"><%= current_user.email %></span></li>
	<li><%= link_to "프로필", edit_user_registration_path %></li>
	<% else %>
	<li><%= link_to "회원가입", new_user_registration_path %></li>
	<li><%= link_to "로그인", new_user_session_path %></li>
	<% end %>
      </ul>
    </div>

    <div id="page_title">
      <h1>dif:page_title</h1><br />
    </div>
  </header>

  <section id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>

  <section id="sidebar">
    <section id="menu" class="box">
      <h5>section sidebar menu</h5>
      <ul>
	<li><%= link_to "소개", "/intro" %></li>
	<li><%= link_to "역사", "/history" %></li>
	<li><%= link_to "아트물", "/artmull" %></li>
      </ul>
    </section>

    <section id="links" class="box">
      <h5>Links</h5>
      <ul>
	<li><%= link_to "blog", "http://blog.chakkomi.com" %></li>
	<li><%= link_to "artmull", "http://artmull.tistory.com" %></li>
      </ul>
    </section>
  </section>


  <div id="maincontent">
    <%= yield %>
  </div>

  <div id="cart">
    <% if @cart %>
    <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
    <%= render @cart %>
    <% end %>
    <% end %>
    
  </div>
  <footer id="page_footer">
    <hr />
    <h6>Copyright</h6>
  </footer>
</body>
</html>
