<!DOCTYPE html>
<html>
<head>
  <title>타이틀</title>
  <%= stylesheet_link_tag "reset-min", :media => "all" %>
  <%= stylesheet_link_tag "fonts-min", :media => "all" %>
  <%= stylesheet_link_tag "chakkomi", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

</head>
<body>
<div id = "laydesk_outer">
  <div id="laydesk">
    <div class="laydesk_sidebar">
      <div class="laydesk_sidebar_menu" >
	<ul>
	  <li><%= link_to "NOTICE", "/info" %></li>
	  <li>&nbsp;</li>
	  <li><%= link_to "CHAKKOMI", "/chakkomi" %></li>
	  <li><%= link_to "PROJECT", "/project" %></li>
	  <li><%= link_to "COMICS", "/comics" %></li>
	  <li>&nbsp;</li>
	  <li><%= link_to "PRODUCT", "/artmull" %></li>
	  <li><%= link_to "STORE", "/store" %></li>
	  <li>&nbsp;</li>
	  <li><%= link_to "TALK", :talks %></li>
	</ul>
      </div>
      <div class="laydesk_sidebar_links" class="box">
      </div>
      <footer class="laydesk_ftr1">
	<hr />
	<h6>Copyright</h6>
      </footer>

    </div>    

  <div class="laydesk_maj">
    <div class="laydesk_hdr">
      <div class="laydesk_user">
	<ul>
	  <% if user_signed_in? %>
	    <% if can? :magage, :all%>
  	    <li><%= link_to "관리자 페이지", :admins %></li>
	    <% end %>
	  <li><span id="currentuser"><%= current_user.email %></span></li>
	  <li><%= link_to "Profile", edit_user_registration_path %></li>
	  <li><%= link_to "Setting", "/services" %></li>
	  <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
	  <% else %>
	  <li><%= link_to "Create Account", new_user_registration_path %></li>
	  <li><%= link_to "Login", new_user_session_path %></li>
	  <% end %>
	</ul>
      </div>
      <div class="laydesk_title">
      </div>
    </div>

  <section id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </section>


    <div class="laydesk_body">
      <%= yield %>
    </div>


  </div>
</div>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
</body>
</html>
