<!DOCTYPE html>
<html>
<head>
<!--
  <script type="text/javascript">
    WebFontConfig = {
      custom: { families: ['NanumGothic'],
      urls: ['http://nanumgothic.appspot.com/css' ] }
    };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  </script>
-->
<!--  <link rel="stylesheet" type="text/css" href="http://nanumgothic.appspot.com/css" />  -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>착한곰팡이</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Francois+One">
  <!--[if IE 6]>
  <script type="text/javascript" src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
<![endif]-->

	  <!-- login 성공시 돌아오기 위한 세션  저장-->
	  <% session[:back_url] = url_for(:controller=>'/articles', :action => 'chakkomi') %>
	  <script type="text/javascript">
	  $(function(){
		  
/*		$("body").css("display", "none"); */
		  if($.browser.mozilla)
		  {
		      $("body").css("display", "block").hide().delay(300).fadeIn(1000);
		  }else
		  {
		      
		      $("body").delay(300).fadeIn(1000, function(){
			      if( $.browser.msie )
			      {
				  if($.browser.version == '6.0')
				  {
				      
				      DD_belatedPNG.fix('img');  
				  }
				  
			      }
			      
			  });
		      
		  }
		  
		  var default_width = 0;
		  var default_height = 0;
		  $(".home_link_icon").hover(function(){
			  default_width = parseInt($(this).css('width'));
			  default_height = parseInt($(this).css('height'));
			  $(this).css('width', default_width * 1.1);
			  $(this).css('height', default_height * 1.1);
		      },
		      function() {
			  $(this).css('width', default_width);
			  $(this).css('height', default_height);
		      });
		  // bind clicks
		  $(".store_link").click(function(){
			  $('#laydesk_default').html('<div id=loading>샾으로 이동합니다<br /><img src="/assets/loader.gif"></div>');
		      });
		  
	      });


</script>
<script type="text/javascript">
	
	  var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-26511070-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
<noscript>
  <style type="text/css">
    body { display:block}
  </style>
</noscript>
  

</head>
<body>
  <div id="laydesk_outer">
    <div id="laydesk" class="laydesk">
      
      <div id="laydesk_default">
	<div id="laydesk_default_sidebar">
	  
	  <div id="laydesk_default_sidebar_logo">
	    <%= link_to image_tag("/assets/logo_195x79.png", :class => 'home_link_icon'), {:controller=>'/articles', :action => 'chakkomi'}, :remote => true, :class => "ajax_link"  %> 
	  </div>
	  <div id="laydesk_default_sidebar_menu" >
	    <ul>
	      
	      <li><%= link_to "NOTICE", {:controller=>'/articles', :action => 'notice'}, :remote => true, :class => "ajax_link" %></li>
	      <li>&nbsp;</li>
	      <li><%= link_to "CHAKKOMI", {:controller=>'/articles', :action => 'chakkomi'}, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to "PROJECT", {:controller=>'/articles', :action => 'project'}, :remote => true, :class => "ajax_link"  %></li>
	      <li><%= link_to "COMICS", {:controller=>'/articles', :action => 'comics'}, :remote => true, :class => "ajax_link" %></li><li>&nbsp;</li>
	      <li><%= link_to "PRODUCT", {:controller=>'/articles', :action => 'product'}, :remote => true, :class => "ajax_link"  %></li>
	      <li><%= link_to "STORE", "/store/#/store/",  :class => "store_link"  %></li>
	      <li>&nbsp;</li>
	      <li><%= link_to "TALK", {:controller=>'/talks', :action => 'index', :mid => 'talk'}, :remote => true, :class => "ajax_link"  %></li>
	    </ul>
	    
	  </div>
	  <div id="laydesk_default_sidebar_link">
	    <li><%= link_to image_tag("/assets/icon_fb_55x83.png", :class => "home_link_icon"), "http://www.facebook.com/chakkomi" %></li>
	    <li><%= link_to image_tag("/assets/icon_twt_50x83.png", :class => "home_link_icon"), "http://twitter.com/#!/chakkomi"  %></li>
	    <li><%= link_to image_tag("/assets/icon_wall_59x83.png", :class => "home_link_icon"), {:controller=>'/wallpapers', :action => 'index'}, :remote => true, :class => "ajax_link"  %></li>
	    <li><%= link_to image_tag("/assets/icon_shop_50x83.png", :class => "home_link_icon"), "/store/#/store/" %></li>
	  </div>
	  
	  <div id="laydesk_default_sidebar_ftr1">
	    <%= image_tag("/assets/default_copyright_190x35.png") %>
	  </div>
	  
	</div><!-- #laydesk_default_sidebar -->
	
	<div id="laydesk_default_maj">
	  <!-- 테스트용으로 로그인되었을 때만 메뉴가 보이게함 -->
	  <% if user_signed_in? %>

	  <div id="laydesk_default_maj_hdr">
	    <div id="laydesk_default_maj_hdr_user">
	      <ul>
		<% if can? :manage, :all%>
  		<li><%= link_to "관리자 페이지", :admins %></li>
		<% end %>
		<li><span id="currentuser"><%= current_user.email %></span></li>
		<li><%= link_to "Profile", edit_user_registration_path , :remote => true, :class => "ajax_link"%></li>
		<li><%= link_to "Setting", "/services" , :remote => true, :class => "ajax_link"%></li>
		<li><%= link_to "Log out", destroy_user_session_path%></li>
		<li><%= link_to "Create Account", new_user_registration_path , :remote => true, :class => "ajax_link" %></li>
		<li><%= link_to "Login", new_user_session_path, :remote => true, :class => "ajax_link" %></li>
	      </ul>
	    </div><!-- #laydesk_default_user -->
	  </div><!-- #laydesk_default_hdr -->
	  <% end %>
	  
	  <div id="laydesk_default_body" class="laydesk_body">
	    <%= yield %>
	  </div>
	  
	</div><!-- #laydesk_default_maj -->
      </div><!-- #laydesk_default -->
    </div><!-- #laydesk & .laydesk -->
  </div><!-- laydesk_default_outer -->

</body>
</html>
