<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>착곰이샾</title>
  <%= stylesheet_link_tag :application, :cache => true %>
  <%= javascript_include_tag :application, :cache => true %>
  <%= csrf_meta_tag %>

  
  <!-- login 성공시 돌아오기 위한 세션  저장-->
  <% session[:back_url] = '/store' %>

  <script type="text/javascript">
     $(function(){

	     $("body").css("display", "none");
	     $("body").fadeIn(1000);
	     
     //menu hover event
     $("#shop_menu_ul li img").hover(function()
      {
	  $(this).attr("src", "/assets/" + $(this)[0].title + "_clicked.png");
	  $("#shop_menu_ul li img").click(function(){
		  $("#shop_menu_ul li img").each(function(){
			  $(this).attr("src", "/assets/" + $(this)[0].title + ".png");
			  $(this).attr("alt", $(this)[0].title);
		      });
		  
		  $(this).attr("src", "/assets/" + $(this)[0].title + "_clicked.png");
		  $(this).attr("alt", $(this)[0].title + "_clicked");
		  
	      });
	  
      }, function(){
						 if( $(this).attr("alt") != $(this)[0].title + "_clicked" )
						 {
						     $(this).attr("src", "/assets/" + $(this)[0].title + ".png");
						 }
					     });
	     
	 });
</script>
</head>
<body>
  <div id = "laydesk_outer">
    <div id="laydesk" class="laydesk">

      <div id="laydesk_shop">
	<div id="laydesk_shop_hdr">

	  <div id="laydesk_shop_hdr_logo">
	    <div id="laydesk_shop_hdr_logo_root">
	    <%= link_to image_tag("/assets/logo_195x79.png", :class => 'goto_root'), "/articles/#/articles"  %>
	    </div>
	    <div id="laydesk_shop_hdr_logo_store">
	    <%= link_to image_tag("/assets/intro_shop_116x76.png", :class => 'goto_store'), '/store', :remote => true, :class => "ajax_link" %>
	    </div>
	  </div>

	  <div id="laydesk_shop_hdr_menu">
	    <ul id="shop_menu_ul">
	      <li><%= link_to image_tag("/assets/btn_shop_list_default.png",  :title => 'btn_shop_list_default'), {:controller=>'/store', :action => 'index'}, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_cart_default.png",  :title => 'btn_shop_cart_default'), {:controller=>'/carts', :action => 'index'}, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_qna_default.png", :title => 'btn_shop_qna_default'), {:controller=>'/talks', :action => 'index', :mid => 'qna'}, :remote => true, :class => "ajax_link" %></li>
	      <% if user_signed_in? %>
	      <li><%= link_to image_tag("/assets/btn_shop_profile_default.png", :title => 'btn_shop_profile_default'), edit_user_registration_path, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_setting_default.png",:title => 'btn_shop_setting_default'), "/services", :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_logout_default.png",:title => 'btn_shop_logout_default'), destroy_user_session_path %></li>
	      <% else %>
	      <li><%= link_to image_tag("/assets/btn_shop_signup_default.png", :title => 'btn_shop_signup_default'), new_user_registration_path, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_signin_default.png", :title => 'btn_shop_signin_default'), new_user_session_path, :remote => true, :class => "ajax_link" %></li>
	      <% end %>
	    </ul>
	  </div><!-- laydesk_shop_hdr_menu -->

	</div><!-- laydesk_shop_hdr -->

	<div id="laydesk_shop_body" class="laydesk_body">
	  <%= yield %>
	</div>
      </div><!-- #laydesk_shop -->
    </div><!-- #laydesk & .laydesk -->
  </div><!-- #laydesk_outer -->
</body>
</html>
