<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>착곰이샾</title>
  <%= stylesheet_link_tag :application, :cache => true %>
  <%= javascript_include_tag :application, :cache => true %>
  <%= csrf_meta_tag %>

  
  <!-- login 성공시 돌아오기 위한 세션  저장-->
  <% session[:back_url] = '/store' %>

  <script type="text/javascript">
     $(function(){

	     $("body").css("display", "none");
	     $("body").fadeIn(1000);
	     
     //menu hover event
	  $("#shop_menu_ul li a").click(function(){
		  $("#shop_menu_ul li a").each(function(){
			  $(this).hide();

		      });
		  
		  $(this).show();

		  
	      });
	  
	 });
</script>
</head>
<body>
  <div id = "laydesk_outer">
    <div id="laydesk" class="laydesk">

      <div id="laydesk_shop">
	<div id="laydesk_shop_hdr">

	  <div id="laydesk_shop_hdr_logo">
	    <div id="laydesk_shop_hdr_logo_root">
	    <%= link_to image_tag("/assets/shop_logo_217x110.png", :class => 'goto_root'), "/articles/#/articles"  %>
	    </div>
	    <div id="laydesk_shop_hdr_logo_store">
	    <%= link_to image_tag("/assets/intro_shop_85x92.png", :class => 'goto_store'), '/store', :remote => true, :class => "ajax_link" %>
	    </div>
	  </div>

	  <div id="laydesk_shop_hdr_menu">
	    <ul id="shop_menu_ul">
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/store', :action => 'index'}, :remote => true, :class => "ajax_link") do %>
		  <%= image_tag("/assets/icon_list.png") %>
		  <div>
		    리스트
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/carts', :action => 'index'}, :remote => true, :class => "ajax_link") do %>
		  <%= image_tag("/assets/icon_basket.png") %>
		  <div>
		    장바구니
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/talks', :action => 'index', :mid => 'qna'}, {:remote => true, :class => "ajax_link"}) do %>
		  <%=  image_tag("/assets/icon_QnA.png") %>
		  <div>
		    Q & A
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% if user_signed_in? %>
	      <li>
		<div class="shop_icon">
		  <%= link_to(edit_user_registration_path, :remote => true, :class => "ajax_link") do %>
		  <%= image_tag("/assets/btn_shop_profile.png") %>
		  <div>
		    프로필
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to("/services", :remote => true, :class => "ajax_link") do %>
		  <%=  image_tag("/assets/btn_shop_setting.png") %>
		  <div>
		    세팅
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to(destroy_user_session_path) do %>
		  <%=  image_tag("/assets/btn_shop_logout.png") %>
		  <div>
		    로그인
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% else %>
	      <li>
		<div class="shop_icon">
		  <%= link_to(new_user_registration_path, :remote => true, :class => "ajax_link") do %>
		  <%= image_tag("/assets/icon_login.png") %>
		  <div>
		    로그인
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to(new_user_session_path, :remote => true, :class => "ajax_link") do %>
		  <%= image_tag("/assets/icon_join.png") %>
		  <div>
		    회원가입
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% end %>
	    </ul>
	  </div><!-- laydesk_shop_hdr_menu -->

	</div><!-- laydesk_shop_hdr -->
	<hr class="laydesk_shop_hdr_hr" />
	<div id="laydesk_shop_body" class="laydesk_body">
	  <%= yield %>
	</div>
      </div><!-- #laydesk_shop -->
    </div><!-- #laydesk & .laydesk -->
  </div><!-- #laydesk_outer -->
</body>
</html>
