<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>착곰이샾</title>
  <%= stylesheet_link_tag :application, :cache => true %>
  <%= javascript_include_tag :application, :cache => true %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

  <!-- login 성공시 돌아오기 위한 세션  저장-->
  <% session[:back_url] = '/store' %>
</head>
<body>
  <div id = "laydesk_outer">
    <div id="laydesk" class="laydesk">

      <div id="laydesk_shop">
	<div id="laydesk_shop_hdr">

	  <div id="laydesk_shop_hdr_logo">
	    <%= link_to image_tag("/assets/logo.png", :class => 'goto_root'), {:controller=>'/articles', :action => 'chakkomi'}  %>
	    <%= link_to image_tag("logo_shop_161x300.png", :class => 'goto_store'), '/store', :remote => true, :class => "ajax_link" %>
	  </div>

	  <div id="laydesk_shop_hdr_menu">
	    <ul id="shop_menu_ul">
	      <li><%= link_to image_tag("/assets/btn_shop_list_default.png",  :title => 'btn_shop_list_default'), {:controller=>'/store', :action => 'index'}, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_cart_default.png",  :title => 'btn_shop_cart_default'), {:controller=>'/carts', :action => 'index'}, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_qna_default.png", :title => 'btn_shop_qna_default'), '#', :remote => true, :class => "ajax_link" %></li>
	      <% if user_signed_in? %>
	      <li><%= link_to image_tag("/assets/btn_shop_profile_default.png", :title => 'btn_shop_profile_default'), edit_user_registration_path, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_setting_default.png",:title => 'btn_shop_setting_default'), "/services", :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_logout_default.png",:title => 'btn_shop_logout_default'), destroy_user_session_path %></li>
	      <% else %>
	      <li><%= link_to image_tag("/assets/btn_shop_signup_default.png", :title => 'btn_shop_signup_default'), new_user_registration_path, :remote => true, :class => "ajax_link" %></li>
	      <li><%= link_to image_tag("/assets/btn_shop_signin_default.png", :title => 'btn_shop_signin_default'), new_user_session_path, :remote => true, :class => "ajax_link" %></li>
	      <% end %>
	    </ul>
	  </div><!-- laydesk_shop_hdr_menu -->

	</div><!-- laydesk_shop_hdr -->

	<div id="laydesk_shop_body" class="laydesk_body">
	  <%= yield %>
	</div>
      </div><!-- #laydesk_shop -->
    </div><!-- #laydesk & .laydesk -->
  </div><!-- #laydesk_outer -->
</body>
</html>
