<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>착곰이샾</title>
  <%= stylesheet_link_tag :application, :cache => true %>
  <%= javascript_include_tag :application, :cache => true %>
  <%= csrf_meta_tag %>

  
  <!-- login 성공시 돌아오기 위한 세션  저장-->
  <% session[:back_url] = '/store' %>

  <script type="text/javascript">
     $(function(){
	     var toggle_icon = 0;
	     $("body").css("display", "none");
	     $("body").fadeIn(1000);
	     
     //menu hover event
	     $("#shop_menu_ul li a").click(function(){
		     $("#shop_menu_ul li a IMG").each(function(){
			     $(this).hide();
			 });
		     $(this).find('img').show();
		     toggle_icon = 0;
		 });

	     $("#shop_menu_ul li a").hover(function(){
		     if( $(this).find('img').css('display') == 'none' )
		     {
			 $(this).find('img').toggle();
			 toggle_icon = 1;
		     }

		 },function(){

		     if( toggle_icon == 1 )
		     {
			 $(this).find('img').toggle();
			 toggle_icon = 0;
		     }
		 });
	 });

</script>
</head>
<body>
  <div id = "laydesk_outer">
    <div id="laydesk" class="laydesk">

      <div id="laydesk_shop">
	<div id="laydesk_shop_hdr">

	  <div id="laydesk_shop_hdr_logo">
	    <div id="laydesk_shop_hdr_logo_root">
	    <%= link_to image_tag("/assets/shop_logo_217x110.png", :class => 'goto_root'), "/articles/#/articles"  %>
	    </div>
	    <div id="laydesk_shop_hdr_logo_store">
	    <%= link_to image_tag("/assets/intro_shop_85x92.png", :class => 'goto_store'), '/store', :remote => true, :class => "ajax_link" %>
	    </div>
	  </div>

	  <div id="laydesk_shop_hdr_menu">
	    <ul id="shop_menu_ul">
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/store', :action => 'index'}, :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%= image_tag("/assets/icon_list.png", :class => "icon_image") %></div>
		  <div>
		    리스트
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/carts', :action => 'index'}, :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%= image_tag("/assets/icon_basket.png") %></div>
		  <div>
		    장바구니
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to({:controller=>'/talks', :action => 'index', :mid => 'qna'}, {:remote => true, :class => "ajax_link"}) do %>
		  <div class="shop_menu_image"><%=  image_tag("/assets/icon_QnA.png") %></div>
		  <div>
		    Q & A
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% if user_signed_in? %>
	      <li>
		<div class="shop_icon">
		  <%= link_to(edit_user_registration_path, :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%= image_tag("/assets/btn_shop_profile.png") %></div>
		  <div>
		    프로필
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to("/services", :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%=  image_tag("/assets/btn_shop_setting.png") %></div>
		  <div>
		    세팅
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to(destroy_user_session_path) do %>
		  <div class="shop_menu_image"><%=  image_tag("/assets/btn_shop_logout.png") %></div>
		  <div>
		    로그인
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% else %>
	      <li>
		<div class="shop_icon">
		  <%= link_to(new_user_registration_path, :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%= image_tag("/assets/icon_login.png") %></div>
		  <div>
		    로그인
		  </div>
		  <% end %>
		</div>
	      </li>
	      <li>
		<div class="shop_icon">
		  <%= link_to(new_user_session_path, :remote => true, :class => "ajax_link") do %>
		  <div class="shop_menu_image"><%= image_tag("/assets/icon_join.png") %></div>
		  <div>
		    회원가입
		  </div>
		  <% end %>
		</div>
	      </li>
	      <% end %>
	    </ul>
	  </div><!-- laydesk_shop_hdr_menu -->

	</div><!-- laydesk_shop_hdr -->
	<hr class="laydesk_shop_hdr_hr" />
	<div id="laydesk_shop_body" class="laydesk_body">
	  <%= yield %>
	</div>
      </div><!-- #laydesk_shop -->
    </div><!-- #laydesk & .laydesk -->
  </div><!-- #laydesk_outer -->
  <script src="http://www.google.com/jsapi"></script>
<script>
      google.load( "webfont", "1" );
 google.setOnLoadCallback(function() {
  WebFont.load({ custom: {
   families: [ "NanumGothic" ],
   urls: [ "http://fontface.kr/NanumGothic/css" ]
  }});
 });
</script>

</body>
</html>
