<div id="deviseauth">
  <div id="local2" class="box">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label '이메일 주소(예:chakkomi@chakkomi.com)' %><br />
      <%= f.email_field :email %></p>
    
    <p><%= f.label '비밀번호' %><br />
      <%= f.password_field :password %></p>
    
    <p><%= f.label '비밀번호 재입력' %><br />
      <%= f.password_field :password_confirmation %></p>

    <p><%= f.submit "계정생성" %></p>
    <% end %>
  </div>

  <div id="remote2">
    <div id="terms" class="box">
      <%= link_to "이용 약관", "#" %>
    </div>
    <div id="services" class="box">

      <a href="/auth/facebook" class="services2"><%= image_tag "/assets/facebook_64.png", :size => "64x64",  :alt => "Facebook" %>Facebook</a>
      <a href="/auth/google" class="services2"><%= image_tag "/assets/google_64.png", :size => "64x64",  :alt => "Google" %>Google</a>
    </div>  
  </div>

  <div id="devise_links">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>


<div id="loading">
  <center>  <%= image_tag "loading.gif" %></center>
</div>

    
<script type="text/javascript">
  $(function() {
  $("#loading").hide();
  $("#deviseauth a").click(function(e) {

    $('#deviseauth').hide();
     $('#loading').show();
  });
});

</script>
